canvas {
    float: left;
    margin-right: 20px;
}

.clear {
    clear: both;
}
.out{
    overflow-x:hidden;
    overflow-y:scroll;
}
#caution{
    color:red;
    font-size: large;
    text-align:center;
}