canvas {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}
.out{
    overflow-x:hidden;
    overflow-y:auto;
}
#caution{
    color:red;
    font-size: large;
    text-align:center;
}