input{
    border-radius:0px;
    border: 0.5px solid black;
}
a{
    cursor:pointer;
    color: blue;
    text-decoration: underline;
}
canvas {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.clear {
    clear: both;
}
.out{
    overflow-x:hidden;
    overflow-y:auto;
}
#caution{
    color:red;
    font-size: large;
    text-align:center;
}