textarea{
    font-size:large;
}
#toc_table{
    border-collapse:collapse;
    margin: 10px;
}
#toc_table th{
    text-align:left;
    padding:5px;
}
#toc_table td{
    padding: 5px;
}
#toc_table tr:nth-child(2n+1){
    background:lightgreen
}
#toc_table tr:nth-child(2n){
    background:lightyellow;
}
.code-line{
    font-family: monospace;
    font-size:large;
}
a{
    cursor:pointer;
    color: blue;
    text-decoration: underline;
}
#code{
    float:left;
    width:50%;
    background-color: lightgray;
    padding: 10px;
}
#sim{
    overflow:auto;
    padding-left: 10px;
}
.clear-float{
    clear:both;
}
#question{
    background-color: lightpink;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#question_title{
    font-size: x-large;
    font-weight: bold;
}
.question_intitle{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.question_outtitle{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.question_in{
    padding-left: 15px;
    padding-right: 15px;
}
.question_out{
    padding-left: 15px;
    padding-right: 15px;
}