textarea{
    font-size:large;
}
#div_canvas{
    float:left;
    padding-right: 10px;
    padding-left: 10px;
}
#div_code{
    overflow:auto;
}
.clear{
    clear:both;
}
a{
    cursor:pointer;
    color: blue;
    text-decoration: underline;
}